#content-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#header {
    background-color: #dddddd;
}

#footer {
    background-color: #dddddd;
}

#right-sidebar {
    flex: 0 0 200px;
    background-color: #aafed6;
}

#content {
    background-color: #eeeeee;
    flex: 1;
    box-sizing: border-box;
}

nav {
    width: 100%;
    background-color: gray;
}

.nav-link {
    color: black;
}

.navbar-brand img {
    width: 200px;
}

.bg-dark {
    background: #cccccc!important
}
