body {
    padding-top: 30px;
    background: rgb(203, 203, 203);
    background: linear-gradient(90deg, rgba(203, 203, 203, 1) 0%, rgba(231, 231, 231, 1) 47%, rgba(231, 231, 231, 1) 100%);
    font-family: 'Reem Kufi', sans-serif;

}

nav {
    -webkit-box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
}

.nav-link {
    color: black;
}

.navbar-brand img {
    width: 200px;
}

.cserv img {
    width: 100%;
}

.contact {
    width: 70%;
    margin: 7rem auto 4rem auto;
}

.contact button {
    float: right;
}

.contact button:hover {
    border: 2px solid #54944e;
    background: #54944e7a;
}

.col-md-12 {
    -webkit-box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
    padding: 0rem 3rem;
    background: white;
    border-radius: .5rem;
}

.col-md-12 h2 {
    padding-top: 3rem;
}

.form-control {
    background: #4d4d4e33;
}

.cserv .card-body {
    background-image: url(img/car.jpg);
    height: 40rem;
    background-size: cover;
    padding: 0 !important;
}

.cserv {
    background: #575757 !important;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top {
    border-bottom: 3px solid #73737352;
    background: #ececec !important;
}

.masthead {
    padding: 3rem 0 2rem 0;
    margin: auto 1rem;
}

.navbar-dark .navbar-toggler-icon {
    filter: invert(1);
}

.second .card-body {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-bottom: 0;
}

.nav-link {
    color: gray !important;
    font-size: large;
}

.card-body {
    padding-bottom: 0 !important;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: black !important;
}

.card {
    background: #54944e;
    margin: 0 !important;
    border-bottom: 4px solid #26598e;
    padding: 1rem !important;
    border-radius: .25rem .25rem 0 0 !important;
    border: none;
}

.card .col-lg-6 {
    padding-bottom: 2rem;
}

.second {
    background: #fff;
    border: none;
    padding: 0 !important;
    text-align: left !important;
    line-height: 2.5rem;
    margin-bottom: 5rem !important;
    border-radius: 0 0 .25rem .25rem !important;

}

.btn-primary {
    background: #26598e;
    border-color: #26598e;
}

u {
    text-underline-position: under;
}

.btn-primary:hover {
    color: #fff;
    background-color: #033469;
    border-color: #033469;
}

.ab {
    margin: 5rem auto;
}

.about {
    background: transparent;
    color: black;
}

.about img {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem !important;
}

.about h1 {
    font-size: 1rem;
    background: #585858;
    color: white;
    padding: 10px 10px 10px 20px;
    margin: 0 !important;
    -webkit-box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
    border-bottom: 7px solid #54944e;
}

.about p,
.about ul {
    -webkit-box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
    padding: 1rem 2rem;
    background: white;
    list-style-type: square;
}

.about ul {
    padding-left: 2.2rem !important;
}

.contactUs a {
    font-weight: 600;
    margin-left: 2rem;
}

hr {
    border-color: #000 !important;
    margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    .contactUs {
        display: none;
    }

    .ab {
        padding: 0 !important;
        margin: 3rem auto 0 auto;
    }

    .fp {
        padding-bottom: 0 !important;
    }

    .card {
        padding: 2rem !important;
    }

    .card-body {
        padding: 0 !important;
    }

    .about p,
    .about ul {
        padding: .7rem;
    }

    h1 {
        font-size: 1.7rem;
    }

    .card .col-lg-6 {
        padding-bottom: 0 !important;
    }

    .second img {
        width: 100% !important;
        position: unset !important;
        margin: auto;
    }

    .mini {
        padding: 0 !important;
    }

    .cserv .card-body {
        background-size: contain;
        background-repeat: no-repeat;
        height: 15rem;
    }

    .contact {
        width: 90%;
    }

    .col-md-12 {
        padding: 0rem 1rem;

    }
}

@media only screen and (max-width: 450px) {
    .footerLogo {
        border: none !important;
        padding-left: 0 !important;
    }

    footer img {
        margin-top: 1rem;
    }

    footer {
        height: 7.5rem !important;
    }
}

.second h1 {
    margin-top: 1rem;
}

.second p {
    margin-left: 1rem;
    line-height: 1.5rem;
}

.second img {
    width: 90%;
    bottom: 0;
    right: 0;
    position: absolute;
}

footer {
    background: #343a40 !important;
    color: white;
    -webkit-box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 54px -27px rgba(0, 0, 0, 0.75);
    height: 5rem;
}

footer a {
    color: #fff;
}

footer img {
    width: 7rem;
    filter: invert(1);
}

.footerLogo {
    padding-left: .8rem;
    border-left: 2px solid #181e23;
}